<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/stylesheets/sign-up-page-styles.css" type="text/css">
  <title>Sign up</title>
</head>
<body>
	<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="/newgame"><li>New Game</li></a>
        <a href="/"><li>Home</li></a>
        <a href="/user/login"><li>Log In</li></a>
        <a href="/user/signup"><li>Sign Up</li></a>
        <a href="/user/logout"><li>Log out</li></a>
      </ul>
    </div>
  </nav>
<div class="search_bar">
  <img src="/images/CheCityLogoHome.png" alt="logo">
	<h1 class="title" style="font-size: 3em; text-shadow: 3px 3px #d1d1d1; color: #2f3e46;">CheCity</h1>
</div> 
<div class="sign-up-form-styles">
  <h1>Sign up!</h1>
  <form id="sign-up-form" action="/user/signup" method="post">
    <p><input id="username" type="text" name="username" placeholder="Username"></p>
    <p><input id="firstname" type="text" name="firstname" placeholder="First Name"></p>
    <p><input id="lastname" type="text" name="lastname" placeholder="Last Name"></p>
    <p><input id="email" type="email" name="email" placeholder="Email"></p>
    <p><input id="password" type="password" name="password" placeholder="Password"></p>
    <p class="submit"><input type="submit" value="Submit"></p>
  </form>
</div>
  
</body>
</html>

