<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/stylesheets/sign-up-page-styles.css" type="text/css">
  <title>Sign up</title>
</head>
<body>
<nav class="navbar" style="text-align: right;">
  <div><a class="navbarlink" href="/login">Sign In</a></div>
</nav>
<div class="header">
  <h1 class="title" style="font-size: 3.5em; text-shadow: 3px 3px #e0e0e0; color: #43D1AF;">CheCity</h1>
    <p style="font-size: 1.5em;">Welcome to CheCity</p>
</div>
<div class="sign-up-form-styles">
  <h1>Sign up!</h1>
  <form id="sign-up-form" action="/user/signup" method="post">
    <p><input id="username" type="text" name="username" placeholder="Username"></p>
    <p><input id="firstname" type="text" name="firstname" placeholder="First Name"></p>
    <p><input id="lastname" type="text" name="lastname" placeholder="Last Name"></p>
    <p><input id="email" type="email" name="email" placeholder="Email"></p>
    <p><input id="password" type="password" name="password" placeholder="Password"></p>
    <p class="submit"><input type="submit" value="Submit"></p>
  </form>
</div>
  
</body>
</html>

