/* Add a black background color to the top navigation bar */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header
{
  text-align: center;
}

.games
{
  text-align: center;
}

.search_bar
 {
  overflow: hidden;
  background-color: #e9e9e9;
  text-align: center;
}

/* Style the links inside the navigation bar */
.search_bar
 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.search_bar
 a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.search_bar
 a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.search_bar
 input[type=text] {
  text-align: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 20px;
  width: 18%;
  border: 2px solid #ccc;
}