html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: url("https://img1.wallspic.com/previews/4/0/0/8/3/138004/138004-chess_pieces_on_wooden_table_during_sunset-x750.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.map-form-container {
	display: grid; 
	grid-template-columns: 40% 40%; 
	grid-template-rows: 350px; 
	gap: 0px 0px; 
	grid-template-areas: 
		"new-game-form-div map"; 
	overflow: hidden;
}

.new-game-form-div {
	grid-area: new-game-form-div;
	border: 5px solid red;
}

.map {
	grid-area: map;
  width: 24em;
	height: 24em;
  background-image: url("https://e3.365dm.com/18/05/1600x900/skynews-world-map-map_4298829.jpg?20180502134213");
  background-size: cover;
}

.new-game-form {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background-color: #c7c7c7;
}
.new-game-form > h1{
  width: 108.2%;
	background: #727272;
	padding: 15px 0 15px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.new-game-form input[type="text"],
.new-game-form input[type="date"],
.new-game-form textarea[type="text"]
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.new-game-form input[type="text"]:focus,
.new-game-form input[type="date"]:focus,
.new-game-form textarea[type="text"]:focus
{
	box-shadow: 0 0 5px #727272;
	padding: 3%;
	border: 1px solid #727272;
}

.new-game-form input[type="submit"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	padding: 3%;
  margin-left: 35%;
  text-align: center;
	background: #727272;
	border-bottom: 2px solid #727272;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
  border-radius: 200px;
}
.new-game-form input[type="submit"]:hover {
	background: #727272;
}

.header {
  text-align: center;
}

.newgame-nav {
  margin-top: 20px;
  text-align: center;
}

.newgame-nav > div {
  display: inline;
  background: #727272;
  padding: 5px 15px 5px 15px;
}

a {
  text-decoration: none;
  color: white;
}

.newgame-nav > div:hover {
  background: #727272;
}