@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
	overflow: hidden;
}

body { position:absolute; top:0; bottom:0; right:0; left:0; }

html {
  background: #CAD2C5; 
}

.logo {
	position: absolute;
	display: flex;
	width: 125px;
	height: 125px;
	right: 1.8%;
}

.form-map-container {
	display: grid; 
	grid-template-columns: repeat(12, minmax(0, 1fr));
	padding: 2% 27.5% 10% 27.5%;
	margin-top: 4%;
}

.new-game-form-div {
	grid-column: span 6 / span 6;
	position: relative;
}

.new-game-form {
	background-color: #ededed;
	padding: 0.01% 3% 0 3%;
	border-top-left-radius: 23.5px;
	border-bottom-left-radius: 23.5px;
}

.map-wrapper {
	position: relative;
	grid-column: span 6 / span 6;
	background: #ededed;
	top: 0;
	border-top-right-radius: 23.5px;
	border-bottom-right-radius: 23.5px;
}

.map {
	position: absolute;
  background-image: url("https://e3.365dm.com/18/05/1600x900/skynews-world-map-map_4298829.jpg?20180502134213");
  background-size: cover;
	height: 100%;
	width: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}


.new-game-form > .form-header {
	background: #ededed;
	font-weight: 300;
	text-align: center;
	color: #84A98C;
	top: 0;
	width: 105%;
	height: 13.3%;
	text-shadow: 2px 3px 5px lightgray;
	font-family: 'Comfortaa', cursive;
}


.new-game-form input[type="text"],
.new-game-form input[type="date"],
.new-game-form textarea[type="text"]
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 3%;
	color: #555;
	font-family: 'Comfortaa', cursive;
}
.new-game-form input[type="text"]:focus,
.new-game-form input[type="date"]:focus,
.new-game-form textarea[type="text"]:focus
{
	box-shadow: 0 0 5px lightgray;
	padding: 3%;
	border: 1px solid lightgray;
}

.new-game-form input[type="submit"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 1.1em;
	font-family: 'Comfortaa', cursive;
	width: 35%;
	padding: 3%;
	margin-bottom: 10px;
  margin-left: 33.5%;
  text-align: center;
	background: #84A98C;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
  border-radius: 200px;
	transition: 0.4s ease;
}
.new-game-form input[type="submit"]:hover {
	background: #354F52;
	box-shadow: 0 0 5px lightgray;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
	 margin: 0;
	 padding: 0;
	 
	 /* make it look decent enough */
	 color: #CAD2C5;
 }
 
 #menuToggle
 {
	 display: block;
	 position: relative;
	 top: 50px;
	 left: 50px;
	 
	 z-index: 1;
	 
	 -webkit-user-select: none;
	 user-select: none;
 }
 
 #menuToggle a
 {
	 text-decoration: none;
	 color: #232323;
	 font-family: 'Comfortaa', cursive;
	 transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
	 color: #84a98c;
 }
 
 
 #menuToggle input
 {
	 display: block;
	 width: 40px;
	 height: 32px;
	 position: absolute;
	 top: -7px;
	 left: -5px;
	 
	 cursor: pointer;
	 
	 opacity: 0; /* hide this */
	 z-index: 2; /* and place it over the hamburger */
	 
	 -webkit-touch-callout: none;
 }
 
 /*
	* Just a quick hamburger
	*/
 #menuToggle span
 {
	 display: block;
	 width: 33px;
	 height: 4px;
	 margin-bottom: 5px;
	 position: relative;
	 
	 background: #2F3E46;
	 border-radius: 3px;
	 
	 z-index: 1;
	 
	 transform-origin: 4px 0px;
	 
	 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							 opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
	 transform-origin: 0% 0%;
	 background: #2F3E46;
 }
 
 #menuToggle span:nth-last-child(2)
 {
	 transform-origin: 0% 100%;
	 background: #2F3E46;
 }
 
 /* 
	* Transform all the slices of hamburger
	* into a crossmark.
	*/
 #menuToggle input:checked ~ span
 {
	 opacity: 1;
	 transform: rotate(45deg) translate(-2px, -1px);
	 background: #2F3E46;
 }
 
 /*
	* But let's hide the middle one.
	*/
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
	 opacity: 0;
	 transform: rotate(0deg) scale(0.2, 0.2);
	 background: #2F3E46;
 }
 
 /*
	* Ohyeah and the last one should go the other direction
	*/
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
	 transform: rotate(-45deg) translate(0, -1px);
	 background: #2F3E46;
 }
 
 /*
	* Make this absolute positioned
	* at the top left of the screen
	*/
 #menu
 {
	 position: absolute;
	 border-bottom-right-radius: 16px;
	 width: 7%;
	 margin: -100px 0 0 -50px;
	 padding: 50px;
	 padding-top: 125px;
	 background: #ededed;
	 list-style-type: none;
	 -webkit-font-smoothing: antialiased;
	 /* to stop flickering of text in safari */
	 
	 transform-origin: 0% 0%;
	 transform: translate(-100%, 0);
	 
	 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
	 padding: 10px 0;
	 font-size: 22px;
 }
 
 /*
	* And let's slide it in from the left
	*/
 #menuToggle input:checked ~ ul
 {
	 transform: none;
 }