<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/about_styles.css">
  <title>About us</title>
</head>ยง
<body>

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/newgame"><li>New Game</li></a>
          <a href="/"><li>Home</li></a>
          <a href="/user/login"><li>Log In</li></a>
          <a href="/user/signup"><li>Sign Up</li></a>
          <a href="/user/logout"><li>Log out</li></a>
        </ul>
      </div>
    </nav>

    {{!-- <nav class="signup"> 
     <div> 
       <a href="/user/login">Log in</a> 
       <a href="/user/signup">Sign Up</a>
      </div>
    </nav> --}}

  <div class="search_bar">
    <img src="/images/CheCityLogoHome.png" alt="logo">
    <h1 class="title">This is us!</h1>
  </div> 
  {{!-- not functional --}}
  
  <div class="about-us-container">
    <div class="manu-img cell">
      <img src="/images/pfp/Manu-pfp.jpeg" class="manu-pfp" alt="A beautiful picture of Manu">
    </div>
    <div class="manu-blurb cell">
      <h1>This is Manu. This is Manu. This is Manu. This is Manu. Gmail@gmail.com</h1>
    </div>
    <div class="heather-img cell">
      <img src="/images/pfp/heather-pfp.jpeg" class="heather-pfp" alt="A beautiful picture of Heather">
    </div>
    <div class="heather-blurb cell">
      <h1>This is Heather. This is Heather. This is Heather. This is Heather. Gmail@gmail.com</h1>
    </div>
    <div class="odaine-img cell">
     <img src="/images/pfp/odaine-pfp.png" class="odaine-pfp" alt="A beautiful picture of Odaine">
    </div>
    <div class="odaine-blurb cell">
      <h1>This is Odaine. This is Odaine. This is Odaine. This is Odaine. Gmail@gmail.com</h1>
    </div>
    <div class="dylan-img cell">
      <img src="/images/pfp/dylan-pfp.jpg" class="dylan-pfp" alt="Dylan">
    </div>
    <div class="dylan-blurb cell">
      <h1>This is Dylan. This is Dylan. This is Dylan. This is Dylan. Gmail@gmail.com</h1>
    </div>
  </div>


</body>
</html>
